@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'vazir';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Vazirmatn-Medium.woff2');
}

@font-face {
  font-family: 'farsinum';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Vazirmatn-FD-Medium.woff2');
}
